<template>
  <app-layout title="Editare produs">
    <form @submit.prevent="submit()">
      <input type="text" v-model="form.name">
      <input type="number" v-model="form.price">
      <input type="number" v-model="form.stock">
      <select v-model="form.category_id">
        <option value="">Selecteaza categorie</option>
        <option v-for="category in categories" :key="category.id" :value="category.id">
          {{category.name}}
        </option>
      </select>
      <input type="file" @input="form.image = $event.target.files[0]">
      <button class="text-yellow-600 border-2 border-yellow-600 p-2" type="submit">
        Actualizeaza
      </button>
    </form>
  </app-layout>
</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    categories: Array,
    product: Object
  },

  components: {
    AppLayout,
    JetNavLink
  },

  setup(props) {
    let form = useForm({
      name: props.product.name,
      price: props.product.price,
      stock: props.product.stock,
      image: props.product.image,
      category_id: props.product.category_id
    })


    let submit = () => {
      form.put(`/admin/products/${props.product.id}`)
    }

    return {
      form,
      submit
    }
  },
}
</script>