<template>
  <app-layout title="Products">
    <p>
      <jet-nav-link :href="route('admin.products.create')" :active="route().current('admin.products.create')" class="border-b-0 text-red-600 font-semibold hover:text-red-600 focus:text-red-600 active:text-red-600 mb-4">
        Adauga Produs
      </jet-nav-link>
    </p>
    <h2 class="text-2xl font-semibold tracking-tight text-red-500 mt-32" >Produsele noastre</h2>
    <div class="mt-6 sm:w-full w-2/4 mx-auto  grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-3 lg:grid-cols-4 xl:gap-x-8">
      <div v-for="product in products" :key="product.id" class="group relative text-center">
        <div class="w-full min-h-80 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-96 lg:aspect-none">
          <img :src="'/storage/' + product.image" class="w-full h-full object-center object-cover lg:w-full lg:h-full" />
        </div>
        <div>
          <h3 class="text-sm text-gray-700 line-clamp-3">
              {{ product.name }}
          </h3>
          <p class="mt-1 text-sm text-gray-500">Stoc {{ product.stock }}</p>
          <p class="text-sm font-medium text-gray-900">{{ product.price }} Lei</p>
          <jet-nav-link :href="`/cosul-meu/adauga/${product.id}`" class="mr-0 border-b-0 text-red-600 font-semibold hover:text-red-600 focus:text-red-600 active:text-red-600 mb-4">
            Adauga in cos
          </jet-nav-link>
        </div>
      </div>
    </div>
  </app-layout>

</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue'
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    products : Array
  },

  components: {
    AppLayout,
    JetNavLink,
    Inertia
  },

  setup() {

    let deleteProduct = id => {
      if(confirm("Esti sigur?")) {
        Inertia.delete('/admin/products/' + id)
      }
    }

    // let truncate=  function (text, length, suffix) {
    //     if (text.length> length) {
    //         return text.substring(0, length) + suffix;
    //     } else {
    //         return text;
    //     }
    // }


    return {
      deleteProduct,

    }

  }
}
</script>