<template>
  <front-layout title="comenzile-mele">
    <div class="bg-white">
      <div>
        <h2 class="text-2xl font-normal tracking-tight text-red-500 mb-12">Comenzile Mele</h2>
        <div class="flex flex-col mb-12">
          <div class="overflow-x-auto">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full">
                  <thead class="border-b">
                    <tr>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        Total
                      </th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        Data
                      </th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        Status
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="order in orders" :key="order.id">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{order.total}} Lei</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.created_at}}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.status}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button v-if="nrProducts > 0" @click="checkOut()">Trimite comanda</button>
  </front-layout>

</template>

<script>

import FrontLayout from '@/Layouts/FrontLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue'
import { Inertia } from '@inertiajs/inertia';


export default {
  props: {
    orders: Array,
  },

  components: {
    FrontLayout,
    JetNavLink,
    Inertia
  },

  setup() {

  },

  methods: {
    checkOut() {
      Inertia.post('/orders')
    }
  }
}
</script>