<template>
  <front-layout title="Products">
    <div>
      <div>

        <div class="lg:flex mb-32">
          <div class="lg:text-left text-center">
            <h1 class="text-base 2xl:text-6xl xl:text-6xl lg:text-5xl sm:text-2xl font-extrabold md:text-4xl mt-5 tracking-tight text-red-500">Promotiile de primavara sunt chiar aici</h1>
            <p class="text-xs font-normal sm:text-lg  md:mb-8 tracking-tight md:font-semibold md:mt-5 sm:mt-1 md:text-lg text-red-500">Anul asta promotiile noastre vor bate orice adversar.</p>
          </div>
          <div class="md:w-4/5 w-full md:mx-auto grid grid-cols-3 gap-y-10 gap-x-6 sm:grid-cols-3 lg:grid-cols-3 xl:gap-x-8">
            <div v-for="promotion  in promotions" :key="promotion.id" class="group relative text-center">
              <div class="w-full min-h-80  aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-64 lg:aspect-none">
                <img :src="'/storage/' + promotion.image" class="w-full h-full object-center object-cover lg:w-full lg:h-full" />
              </div>
              <h3 class="text-gray-700 mt-4  text-xs md:text-base">
                {{ promotion.name}}
              </h3>
            </div>
          </div>
        </div>


        <h2 class="text-2xl font-semibold tracking-tight text-red-500 mt-32" >Produsele noastre</h2>
        <div class="mt-6 sm:w-full w-2/4 mx-auto  grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-3 lg:grid-cols-4 xl:gap-x-8">
          <div v-for="product in products" :key="product.id" class="group relative text-center">
            <div class="w-full min-h-80 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-96 lg:aspect-none">
              <img :src="'/storage/' + product.image" class="w-full h-full object-center object-cover lg:w-full lg:h-full" />
            </div>
            <div>
              <h3 class="text-sm text-gray-700 line-clamp-3">
                  {{ product.name }}
              </h3>
              <p class="mt-1 text-sm text-gray-500">Stoc {{ product.stock }}</p>
              <p class="text-sm font-medium text-gray-900">{{ product.price }} Lei</p>
              <jet-nav-link :href="`/cosul-meu/adauga/${product.id}`" class="mr-0 border-b-0 text-red-600 font-semibold hover:text-red-600 focus:text-red-600 active:text-red-600 mb-4">
                Adauga in cos
              </jet-nav-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </front-layout>

</template>

<script>

import FrontLayout from '@/Layouts/FrontLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue'
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    products : Array,
    promotions: Array,
    user: Object
  },

  components: {
    FrontLayout,
    JetNavLink,
    Inertia
  },

  setup() {

    let deleteProduct = id => {
      if(confirm("Esti sigur?")) {
        Inertia.delete('/admin/products/' + id)
      }
    }

    return {
      deleteProduct,

    }

  }
}
</script>