<template>
  <app-layout title="Editeaza comanda">
    <h1>Editeaza status pentru comanda #{{order.id}}</h1>
    <form @submit.prevent="submit()">
      <input type="text" v-model="form.status">
      <button class="text-yellow-600 border-2 border-yellow-600 p-2"
        type="submit">
        Editeaza
      </button>
    </form>
  </app-layout>
</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    order: Object
  },

  components: {
    AppLayout,
    JetNavLink
  },

  setup(props) {
    let form = useForm({
      status: props.order.status
    })

    let submit = () => {
      form.put(`/admin/orders/${props.order.id}`)
    }

    return {
      form,
      submit
    }
  },
}
</script>