<template>
  <app-layout title="comenzile-mele">
    <div class="bg-white">
      <div>
        <h2 class="text-2xl font-normal tracking-tight text-red-500 mb-12">Comenzile Clientilor</h2>
        <p class="mb-12">
          <label>Filtreaza status: </label>
          <select v-model="status" @change="filter()" class="border-0">
            <option value="toate">Toate</option>
            <option value="pending">Pending</option>
            <option value="trimisa">Trimisa</option>
            <option value="anulata">Anulata</option>
          </select>
        </p>
        <div class="flex flex-col mb-12">
          <div class="overflow-x-auto">
            <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
              <div class="overflow-hidden">
                <table class="min-w-full">
                  <thead class="border-b">
                    <tr>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        Total
                      </th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        Data
                      </th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        Status
                      </th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        Client
                      </th>
                      <th scope="col" class="text-sm font-medium text-gray-900 px-6 py-4 text-left">
                        Actiuni
                      </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr v-for="order in orders" :key="order.id">
                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">{{order.total}}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.created_at}}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.status}}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">{{order.user.name}}</td>
                      <td class="text-sm text-gray-900 font-light px-6 py-4 whitespace-nowrap">
                        <jet-nav-link :href="`/admin/orders/${order.id}/edit`" class="mr-0">
                          Editeaza comanda
                        </jet-nav-link>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </app-layout>

</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue'
import { Inertia } from '@inertiajs/inertia';


export default {
  data() {
    return {
    }
  },

  props: {
    orders: Array,
    status: String
  },

  components: {
    AppLayout,
    JetNavLink,
    Inertia
  },

  setup() {

  },

  methods: {
    checkOut() {
      Inertia.post('/orders')
    },
    filter() {
      Inertia.get('/admin/orders/filters?status=' + this.status)
    }
  }
}
</script>