<template>
  <front-layout title="cosul-meu">
    <div>
      <p class="font-normal tracking-tight text-red-500">Cosul meu({{nrProducts}})</p>
      <div v-for="product in products" :key="product.product.id"  class="grid grid-cols-1 md:grid-cols-4 sm:grid-cols-2 gap-1 text-center my-12" >
        <div class="aspect-w-1 aspect-h-1 overflow-hidden group-hover:opacity-75 lg:aspect-none w-1/4 m-auto">
            <img :src="'/storage/' + product.product.image" class="object-center object-cover " />
        </div>
        <div>
          <h3 class="text-gray-700 font-semibold text-xs lg:text-base">
            {{ product.product.name }}
          </h3>
        </div>
        <div>
          <p class="text-sm text-gray-500">{{ product.product.stock }} stoc</p>
          <p class="text-sm font-medium text-gray-900">{{ product.product.price }} Lei</p>
        </div>
        <div>
        <input type="number" v-model="product.q" @change="updateQuantity(product.product.id, product.q)" class="w-1/4  text-center md:h-auto h-8">
        </div>
        <button @click="deleteProduct(product.product.id)">Sterge produs</button>
      </div>
    </div>
    <button v-if="nrProducts > 0" @click="checkOut()"
      class=" relative before:content-[''] before:absolute before:w-full before:h-1 before:bg-red-200 before:left-0 before:bottom-0 before:origin-right before:scale-x-0 before:ease-in-out hover:before:origin-left hover:before:scale-x-100"
      >
      Trimite comanda
    </button>
    <jet-nav-link :href="route('orders.index')"
    :active="route().current('orders.index')"
    class="border-b-0 text-red-600 font-semibold hover:text-red-600 focus:text-red-600 active:text-red-600 mb-4">
        Istoricul comenzilor
    </jet-nav-link>
  </front-layout>

</template>

<script>

import FrontLayout from '@/Layouts/FrontLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue'
import { Inertia } from '@inertiajs/inertia';


export default {

  data() {
    return {
      quantities: []
    }
  },

  props: {
    products: Array,
    nrProducts: Number
  },

  components: {
    FrontLayout,
    JetNavLink,
    Inertia
  },

  setup() {

  },

  methods: {
    checkOut() {
      Inertia.post('/orders')
    },
    updateQuantity(productId, q){
      Inertia.post('/update-quantity/' + productId + '/' + q)
    },
    deleteProduct(productId) {
      Inertia.delete('/delete-product/' + productId);
    }

  }

}
</script>