<template>
  <app-layout title="Adauga Produs">
    <h1>Adauga promotie</h1>
    <form @submit.prevent="submit()">
      <input type="text" v-model="form.name">
      <input type="file" @input="form.image = $event.target.files[0]">
      <button class="text-yellow-600 border-2 border-yellow-600 p-2" type="submit">
        Adauga
      </button>
    </form>
  </app-layout>
</template>


<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    promotions: Array
  },

  components: {
    AppLayout,
    JetNavLink
  },

  setup() {
    let form = useForm({
      name: '',
      image: '',
    })

    let submit = () => {
      form.post('/admin/promotions')
    }

    return {
      form,
      submit
    }
  },
}
</script>