<template>
  <app-layout title="Promotions">
      <div class="flex justify-between">
        <div>
          <h1 class="text-6xl font-extrabold tracking-tight text-red-500">Promotiile de primavara sunt chiar aici</h1>
          <p class=" font-normal tracking-tight text-red-500">Anul asta promotiile noastre vor bate orice adversar.</p>
        </div>
        <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:gap-x-8">
          <div v-for="promotion  in promotions" :key="promotion.id" class="group relative">
            <div class="w-full min-h-80 bg-gray-200 aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
              <img :src="'/storage/' + promotion.image" class="w-full h-full object-center object-cover lg:w-full lg:h-full" />
            </div>
            <div class="mt-4 flex justify-between">
              <div>
                <h3 class="text-sm text-gray-700 flex w-48 truncate h-14">
                  <jet-nav-link :href="promotion.href" class="mr-0">
                    <!-- <span aria-hidden="true" class="absolute inset-0 t" /> -->
                    {{ promotion.name}}
                  </jet-nav-link>
                </h3>
                <!-- <p class="mt-1 text-sm text-gray-500">{{ product.stock }} stoc</p> -->
              </div>
              <!-- <p class="text-sm font-medium text-gray-900">{{ product.price }} Lei</p> -->
            </div>
          </div>
        </div>
      </div>
  </app-layout>
</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue'
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    promotions : Array
  },

  components: {
    AppLayout,
    JetNavLink,
    Inertia
  },

  setup() {

    let deleteProduct = id => {
      if(confirm("Esti sigur?")) {
        Inertia.delete('/admin/products/' + id)
      }
    }

    return {
      deleteProduct,

    }

  }
}
</script>