<template>
  <app-layout title="Adauga categorie">
    <form @submit.prevent="submit()">
      <input type="text" v-model="form.name">
      <button class="text-yellow-600 border-2 border-yellow-600 p-2" type="submit">Salveaza</button>
    </form>
  </app-layout>
</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    categories : Array
  },

  components: {
    AppLayout,
    JetNavLink
  },

  setup() {
    let form = useForm({
      name: ''
    })

    let submit = () => {
      form.post('/admin/categories')
    }

    return {
      form,
      submit
    }
  },
}
</script>