<template>
  <app-layout title="Editeaza categorie">
    <form @submit.prevent="submit()">
      <input type="text" v-model="form.name">
      <button class="text-yellow-600 border-2 border-yellow-600 p-2"
      type="submit">
        Editeaza
      </button>
    </form>
  </app-layout>
</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue';
import { useForm } from '@inertiajs/inertia-vue3';
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    category: Object
  },

  components: {
    AppLayout,
    JetNavLink
  },

  setup(props) {
    let form = useForm({
      name: props.category.name
    })

    let submit = () => {
      form.put(`/admin/categories/${props.category.id}`)
    }

    return {
      form,
      submit
    }
  },
}
</script>