<template>
  <app-layout title="Categories">

    <jet-nav-link :href="route('admin.categories.create')"
    :active="route().current('admin.categories.create')" class="border-b-0 text-red-600 font-semibold hover:text-red-600 focus:text-red-600 active:text-red-600 mb-4">
      Adauga Categorie
    </jet-nav-link>
    <h2 class="text-2xl font-normal tracking-tight text-red-500 mb-4">Vezi categorie</h2>
     <div class="flex flex-col">
        <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
          <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
              <table class="min-w-full divide-y divide-gray-200">
                <thead class="bg-gray-50">
                  <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">ID</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Numele</th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Actiuni</th>
                  </tr>
                </thead>
                <tbody class="bg-white divide-y divide-gray-200">
                  <tr v-for="category in categories" :key="category.id">
                    <td class="px-6 py-4 whitespace-nowrap">
                      {{category.id}}
                    </td>
                    <td class="px-6 py-4 whitespace-nowrap">{{category.name}}</td>
                    <td  class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                      <button @click="deleteCategory(category.id)">Sterge</button>
                      <jet-nav-link :href="`/admin/categories/${category.id}/edit`" class="mr-0">
                        Editeaza categorie
                      </jet-nav-link>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
     </div>

  </app-layout>
</template>

<script>

import AppLayout from '@/Layouts/AppLayout.vue';
import JetNavLink from '@/Jetstream/NavLink.vue'
import { Inertia } from '@inertiajs/inertia';

export default {
  props: {
    categories : Array
  },

  components: {
    AppLayout,
    JetNavLink,
    Inertia
  },

  setup() {

    let deleteCategory = id => {
      Inertia.delete('/admin/categories/' + id)
    }

    return {
      deleteCategory,

    }

  },
}
</script>