<template>
  <div>
    <Head :title="title" />
    <jet-banner />
    <div class="min-h-screen">
      <nav class="bg-white border-b border-gray-100 mb-10">
        <!-- Primary Navigation Menu -->
        <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
            <div class="flex justify-between h-16">
                <div class="flex">
                    <!-- Logo -->
                    <div class="shrink-0 flex items-center">
                        <jet-nav-link class="border-b-0" :href="route('acasa')"
                        :active="route().current('acasa')">
                            <img src="/storage/images/logo.png" alt="Logo" class="w-28">
                        </jet-nav-link>
                    </div>
                    <!-- Navigation Links -->
                    <div class="hidden space-x-8 sm:-my-px sm:ml-10 sm:flex">
                        <jet-nav-link :href="route('acasa')"
                        :active="route().current('acasa')">
                            Produse
                        </jet-nav-link>
                        <jet-nav-link href="/cosul-meu">
                            Cosul Meu
                        </jet-nav-link>
                        <jet-nav-link :href="route('orders.index')"
                        :active="route().current('orders.index')">
                            Comenzile mele
                        </jet-nav-link>
                    </div>
                </div>

                <div class="hidden sm:flex sm:items-center sm:ml-6">
                    <div class="ml-3 relative">
                    </div>

                    <!-- Settings Dropdown -->
                    <div class="ml-3 relative">
                      <jet-dropdown align="right" width="48">
                          <template #trigger>
                              <span class="inline-flex rounded-md">
                                  <button  v-if="$page.props.user" type="button" class="inline-flex items-center px-3 py-2 border border-transparent text-sm leading-4 font-medium rounded-md text-gray-500 bg-white hover:text-gray-700 focus:outline-none transition">
                                      Salut {{ $page.props.user.name }}
                                  </button>
                                  <jet-nav-link v-else href="/login">
                                    Conecteaza-te {{$page.props.user}}
                                  </jet-nav-link>
                              </span>
                          </template>
                          <template #content>
                              <!-- Account Management -->
                              <div class="block px-4 py-2 text-xs text-gray-400">
                                  Detalii Cont
                              </div>

                              <jet-dropdown-link :href="route('profile.show')">
                                Contul tau
                              </jet-dropdown-link>

                              <div class="border-t border-gray-100"></div>
                              <!-- Authentication -->
                              <form @submit.prevent="logout">
                                  <jet-dropdown-link as="button">
                                      Delogare
                                  </jet-dropdown-link>
                              </form>
                          </template>
                      </jet-dropdown>
                    </div>
                </div>

                <!-- Hamburger -->
                <div class="-mr-2 flex items-center sm:hidden">
                    <button @click="showingNavigationDropdown = ! showingNavigationDropdown" class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition">
                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path :class="{'hidden': showingNavigationDropdown, 'inline-flex': ! showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
                            <path :class="{'hidden': ! showingNavigationDropdown, 'inline-flex': showingNavigationDropdown }" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>

        <!-- Responsive Navigation Menu -->
        <div :class="{'block': showingNavigationDropdown, 'hidden': ! showingNavigationDropdown}" class="sm:hidden">

            <!-- Responsive Settings Options -->
            <div class="pt-4 pb-1 border-t border-gray-200">
                <div class="flex flex-col">
                  <jet-responsive-nav-link :href="route('products.index')"
                  :active="route().current('products.index')">
                      Produse
                  </jet-responsive-nav-link>
                  <jet-responsive-nav-link href="/cosul-meu">
                      Cosul Meu
                  </jet-responsive-nav-link>
                  <jet-responsive-nav-link :href="route('orders.index')"
                  :active="route().current('orders.index')">
                    Comenzile mele
                  </jet-responsive-nav-link>
                </div>
                <div class="mt-3 space-y-1">

                </div>
            </div>
        </div>
      </nav>
      <!-- Page Heading -->
      <header class="bg-white shadow" v-if="$slots.header">
          <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
              <slot name="header"></slot>
          </div>
      </header>
      <!-- Page Content -->
      <main class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
          <slot></slot>
      </main>
    </div>
  </div>
</template>

<script>
    import { defineComponent } from 'vue'
    import JetApplicationMark from '@/Jetstream/ApplicationMark.vue'
    import JetBanner from '@/Jetstream/Banner.vue'
    import JetDropdown from '@/Jetstream/Dropdown.vue'
    import JetDropdownLink from '@/Jetstream/DropdownLink.vue'
    import JetNavLink from '@/Jetstream/NavLink.vue'
    import JetResponsiveNavLink from '@/Jetstream/ResponsiveNavLink.vue'
    import { Head, Link } from '@inertiajs/inertia-vue3';

    export default defineComponent({
        props: {
            title: String,
        },

        components: {
            Head,
            JetApplicationMark,
            JetBanner,
            JetDropdown,
            JetDropdownLink,
            JetNavLink,
            JetResponsiveNavLink,
            Link,
        },

        data() {
            return {
                showingNavigationDropdown: false,
            }
        },

        methods: {
            logout() {
                this.$inertia.post(route('logout'));
            }
        }
    })
</script>
